
.ebaymarker-positive
{background:#ddddff;border: 1px solid #0000cc; color: #0000cc;}

.ebaymarker-negative
{background:#ffff00;border: 1px solid #cc0000; color: #cc0000;}

.ebaymarker-normal
{background:#aaddaa;border: 1px solid #00cc00; color: #000;}

